.header{
    background-color: darkolivegreen;
    display: flex;
    flex-flow: wrap;
}

.header__pic{
    height: 50px;
    text-align: left;
    padding-top: 10px;
}

.header__text{
    float: inside;
    text-align: center;
}